h1{
	align: center;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0); 
}

.columns{
    
}

.column{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 14pt;
}
